<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISignService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64322/soap" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISignService" contract="ServiceReference1.ISignService"
                name="BasicHttpBinding_ISignService" />
        </client>
    </system.serviceModel>
</configuration>